article {
	/*border-bottom: 1px solid;*/
	margin-bottom: 24px;
	min-height: 70px;
}

.date {
	margin-bottom: 3px;
	font-weight: bold;
}

article img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 20px;
	margin-bottom: 27px;
	margin-top: 5px;
}