@font-face
{
	font-family: Pragmatica;
	src: url('../resources/Pragmatica.ttf');
}

.reset-float {
	clear: both;
}

a {
	color: #0cf;
}

body {
	background: url("../images/background.slice.png"), url("../images/background.slice.2.png");
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	border-width: 0 64px;
	border-color: transparent;
	border-image: url("../images/border.png") 0 64 0 64 repeat;
	height: 100%;
}

h1 {
	color: #0cf;
	border-bottom: 3px solid #0cf;
	padding-bottom: 8px;
}

.site {
	width: 1024px;
	margin: 0 auto;
	border-color: transparent;
	border-width: 0 91px;
	/*color: #96AEBE;*/
	/*color: #b5d2e5;*/
	color: #C0B3C4;

	height: auto !important;
	min-height: 100%;
	height: 100%;

	position:relative;
}

.header {
	background-color: #383431;
	height: 90px;
}

.header:after {
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}

.footer {

	position:absolute;
	bottom:-1px;
	width:100%;
	height:60px;   /* Height of the footer */

	background-color: #383431;
	font-size: 0.8em;
	font-style: italic;
	color: #0cf;
	padding-bottom: 5px;
}

.content {
	width: 586px;
	/*height: 100%;*/
	/*height: 100%;*/
	/*min-height: 100%;*/
	/*56, 52, 49*/
	padding: 6px 50px;	
	float: left;
	background-color: rgba(28, 26, 24, 0.9);

	/*padding-bottom: 30px;    Height of the footer */
	
}

.container {
	min-height: 520px;
}

.container:after {
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}
.sidebar {
	float: right;
	width: 337px;
	height: 533px;
}

.top-logo {
	height: 400px;
	background: url('../images/top_logo.png') no-repeat;
}

.bottom-logo {
	position: absolute;
	width: 337px;
	bottom: 100px;
	height: 100px;
	background: url('../images/bottom_logo.png') no-repeat;
}


.sectors {
	/*width: 66%;*/
	margin-left: 30px;
}
.sector {
	color: #b5d2e5;
}

.sector {
	/*color: #96AEBE;*/
	background-color: #383431;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin-top: 25px;
	margin-left: 20px;
	width: 82px;
	height: 20px;
	line-height: 20px;
	border-radius: 5px;
	padding: 10px;
	-webkit-box-shadow: 0 3px 10px #121212;
	transition: color 0.2s linear, box-shadow linear 0.2s , background-color 0.2s linear;
	-webkit-transition: color linear 0.2s, box-shadow linear 0.2s, background-color linear 0.2s;
	text-decoration: none;
}

.sector.selected, .sector:hover {
	-webkit-box-shadow: 0 3px 10px #0cf;
	background-color: #383431;
	color: #0cf;
}

.left-border {
	float: left;
	background: url("../images/left.grunge.png");
	width: 91px;
}

.right-border {
	float: right;
	background: url("../images/right.grunge.png");
	width: 91px;
}

.search {
	float: right;
	margin-top: 30px;
	margin-right: 20px;

}
.search-input {
	float: left;
	margin-top: 6px;
}

.search-input:focus {
	outline: #0cf auto 5px;
	outline-offset: -2px;
}

.search-button {
	background: url('../images/icons/search.png');
	width: 32px;
	height: 32px;
	border: 0;
	float: left;
}

.social-icons {
	padding-top: 9px;
	float: right;
	padding-right: 25px;
}

.social-icons li {
	list-style-type: none;
	display: inline-block;
	margin-left: 5px;
	height: 26px;
	width: 26px;
}

.myspace {
	background: url('../images/icons/myspace.png');
}

.myspace:hover {
	background: url('../images/icons/myspace.glow.png');
}


.facebook {
	background: url('../images/icons/facebook.png');
}

.facebook:hover {
	background: url('../images/icons/facebook.glow.png');
}

.twitter {
	background: url('../images/icons/twitter.png');
}

.twitter:hover {
	background: url('../images/icons/twitter.glow.png');
}


.vkontakte {
	background: url('../images/icons/vkontakte.png');
}

.vkontakte:hover {
	background: url('../images/icons/vkontakte.glow.png');
}



.copyright {
	padding-top: 40px;
	margin-left: 40px;
	color: #96AEBE;
}

.copyright a {
	color: #96AEBE;
}

